body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 20px;
}

th, td {
    text-align: center;
    border: 2px solid white;
    color: white;
}

#content {
    width: 40%;
    align: center;
}

.form {
    margin-top: 50px;
}
