body {
    margin: 0;
    font-family: sans-serif
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    text-align: center;
    border: 2px solid black;
}

#content {
    width: 40%;
    align: center;
}

.form {
    margin-top: 50px;
}
