<!-- using jinja2 format -->

{% extends 'base.html' %}

{% block head %}
<title>MansTasks</title>
{% endblock %}

{% block body %}
<center>
<div class="content">
    <h1>CrossOut</h1>

    <table>
        <tr>
            <th>Stuff</th>
            <th>Added</th> <!-- Corrected closing tag -->
            <th>Actions</th> <!-- Corrected closing tag -->
        </tr>
        <tr>
            <td>Sample Data</td> <!-- Example content -->
            <td>Sample Date</td> <!-- Example content -->
            <td>
                <a href="">Delete</a><br>
                <a href="">Update</a>
            </td>
        </tr>
    </table>

    <form actions="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>
</center>
{% endblock %}
