<!-- using jinja2 format -->

{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1>CrossOut</h1>

    <table>
        <tr>
            <th>Stuff</th>
            <th>Added</th> <!-- Corrected closing tag -->
            <th>Actions</th> <!-- Corrected closing tag -->
        </tr>
        <tr>
            <td>Sample Data</td> <!-- Example content -->
            <td>Sample Date</td> <!-- Example content -->
            <td>
                <a href="">Delete</a><br>
                <a href="">Update</a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
